{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/my_profile.css' %}?v1.2">
{% endblock %}
{% block body %}
    <h2>Welcome {{ user.username }}</h2>
<a href="{% url 'shared_photo_library:upload_photo' %}">
    Upload Photo
</a>
    <br>
    <br>

<div class="container">
    <div class="row">
        {% for photo, tags in photos_and_tags %}

    <div class="col-md-3">

        <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ photo.photo.url }}" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <p>Location: {{ photo.location }}</p>
          <p>Date: {{ photo.date}}</p>
          <p>Tags: {% for tag in tags %} {{ tag.tag_name }} | {% endfor %}
          </p>
        <i class="fas fa-photo-video"></i>
        <button type="button" style="border: none; background: transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i style="margin-left: 10px" class="fas fa-edit"></i>
        </button>

        </div>
      </div>
    </div>
    </div>

{#    <img style="border-radius: 50%; height: 175px; width:175px; object-fit: cover; margin-top: 20px"#}
{#                             src="{{ photo.photo.url }}" alt="" >#}

{%endfor  %}
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

</div>

{% endblock %}
